{% extends 'index.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1> Hello, {{request.user|title}}!</h1>
        <h3 style="margin:0">You have {{count}} incomplete task{{ count|pluralize:"s" }}.</h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 5px; display: flex;">
        <input type="text" name="search_form" value="{{search}}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="link" href="{% url 'create_form' %}">&#9997;</a>
</div>


<div class="task-items-wrapper">
    {% for task in task_list %}
        <div class="task-wrapper">
            {% if task.completed %}
                <div class="task-title">
                    <div class="mark completed"></div>
                    <i><s><a href="{% url 'update_task' task.id %}">{{task}}</a></s></i>
                </div>
            <div>
            <a class="task-link" href="{% url 'task' task.id %}">&#128065;</a>
            <a class="delete-link" href="{% url 'delete_task' task.id %}">&#10006;</a>
            </div>
            {% else %}
                <div class="task-title">
                    <div class="mark uncompleted"></div>
                    <a href="{% url 'update_task' task.id %}">{{task}}</a>
                </div>
            <div>
            <a class="task-link" href="{% url 'task' task.id %}">&#128065;</a>
            <a class="delete-link" href="{% url 'delete_task' task.id %}">&#10006;</a>
            </div>
            {% endif %}
        </div>
    {% empty %}
    <em>You have nothing to do, you are a happy person:)</em>
    {% endfor %}
</div>

{% endblock content %}