{% extends 'index.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value="Login">
</form>
<p>Forgot your password? Don't worry <a class="link" href="{% url 'password_reset' %}">&#8594; Reset password</a></p>
<p>Don't have an account? Do it right now <a class="link" href="{% url 'registration' %}">&#8594; Registration</a></p>
</div>

{% endblock content %}