<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDo List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

    <style>
        body{
            background-color: #FFE4C4;
            font-family: 'Nunito Sans', sans-serif;
            padding-top: 60px;
        }
        .container{
            max-width: 600px;
            margin: auto;
            background-color: #D8BFD8;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
            box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        }
    </style>
</head>
<h1>Confirming...</h1>
<body>
    <div class="container">
        {% block content %}
        {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">{% csrf_token %}
        <fieldset class="module aligned">
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Change my password">
        </fieldset>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>