{% extends 'index.html' %}
{% block content %}

<div class="header-bar">
    <h1>Confirming...</h1>
</div>

<div class="card-body">
    {% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="POST">{% csrf_token %}
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2 }}
        </div>
        <input class="button-change" type="submit" value="Change my password">
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    <a class="link" href="{% url 'password_reset' %}">&#8594; Try again here.</a>
    {% endif %}
</div>

{% endblock content %}